{% extends "base.html" %}
{% block content %}

<div class="products-card">

    <h2>📦 My Orders</h2>

    {% if orders %}
        <div class="products-grid">
            {% for order in orders %}
            <div class="product-card">
                <h3>{{ order.product_name }}</h3>
                <p>Price: ₹{{ order.price }}</p>
                <p>Status: {{ order.status }}</p>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p style="text-align:center;">No orders yet 😕</p>
    {% endif %}

</div>

{% endblock %}
