{% extends "base.html" %}

{% block content %}
<div class="card">
    <h2>Reset Password</h2>

    <p style="text-align:center; font-size:14px;">
        Account: <b>{{ email }}</b>
    </p>

    {% if message %}
        <p style="text-align:center; color:#764ba2; margin-bottom:10px;">
            {{ message }}
        </p>
    {% endif %}

    <form method="POST">
        <div class="input-group">
            <label>New Password</label>
            <input 
                type="password" 
                name="password" 
                placeholder="Enter new password"
                required
            >
        </div>

        <button type="submit" class="btn">Reset Password</button>
    </form>
</div>
{% endblock %}
